
{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card card-table">
          <div class="card-body">
             <div class="table-responsive">
                <table id="table_id" class="table table-hover table-center mb-0">
                   <thead>
                      <tr>
                        <th>Student ID</th>
                        <th>Profile Pic</th>
                         <th>UserName</th>
                         <th>Email</th>
                         <th>Course</th>
                         <th>Session Year</th>
                         <th>Gender</th>
                         <th>Create At</th>
                         <th>Update At</th>
                         <th class="text-right">Action</th>
                      </tr>
                   </thead>
                   <tbody>
                     
                     {% for s in  allstudent %}
                       
                     <tr>
                         <td>{{s.id}}</td>
                         <td>
                            <h2 class="table-avatar">
                               <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{s.admin.profilepic}}" alt="User Image"></a>
                               <a href="student-details.html">{{s.admin.first_name}}  {{s.admin.last_name}}</a>
                            </h2>
                         </td>
                         <td>{{s.admin.username}}</td>
                         <td>{{s.admin.email}}</td>
                         <td>{{s.courseid}}</td>
                         <td>{{s.sessionid}}</td>
                         <td>{{s.gender}}</td>
                         <td>{{s.createat}}</td>
                         <td>{{s.updateat}}</td>
                         <td class="text-right">
                            <div class="actions">
                               <a href="{% url 'editstudent' s.id %}" class="btn btn-sm bg-success-light mr-2">
                               <i class="fas fa-pen"><small>edit</small></i>
                               </a>
                               <a href="{% url 'deletestudent' s.id %}" class="btn btn-sm bg-danger-light">
                               <i class="fas fa-trash"><small>delete</small></i>
                               </a>
                            </div>
                         </td>
                      </tr>   
                      {% endfor %} 
                   </tbody>
                   <div>
                     <a href="{% url 'addstudent' %}" class="btn btn-primary text-center">Add Student</a>
                   </div>
                </table>
             </div>
          </div>
          
       </div>
    </div>
 </div>
    
{% endblock %}
    