{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form  action="{% url 'updatesubject' %}"  method="post">
               {% csrf_token %}

               
               {% for s in subject %}
                      
                <div class="row">
                   <div class="col-12">
                      <h5 class="form-title"><span>Edit Subject</span></h5>
                   </div>

                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Subject ID</label>
                         <input name="subject_id" type="text" class="form-control" value="{{s.id}}">
                      </div>
                   </div>
             
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Subject Name</label>
                       <input name="subject_name" value=" {{s.name}} "  type="text" class="form-control">
                    </div>
                 </div>

                 <div class="col-12 col-sm-6">
                  <div class="form-group"  >
                     <label>Course</label>
                     <select class="form-control" name="course_id">
                        <option>Select Course</option>
                        {% for c in course %}
                        <option value="{{c.id}}"> {{c.name}} </option>
                        {% endfor %}
                     </select>
                  </div>
               </div>

               <div class="col-12 col-sm-6">
                  <div class="form-group"  >
                     <label>Teacher</label>
                     <select class="form-control" name="teacher_id">
                        <option>Select Teacher</option>
                        {% for t in teacher %}
                        <option value="{{t.id}}"> {{t.admin.first_name}} </option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
              
                
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Update Subject</button>
                   </div>
                   <div class="col-12">
                     {% include 'includes/messages.html' %}
                  </div>
                </div>
                {% endfor %}
             </form>
          </div>
       </div>
    </div>
 </div>
    
{% endblock  %}
    
