{% load active_link_tags %}
{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="submenu active">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span></a>
                <!-- <ul>
                   <li><a href="index.html" class="active">Admin Dashboard</a></li>
                   <li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
                   <li><a href="student-dashboard.html">Student Dashboard</a></li>
                </ul> -->
             </li>
             <li class="submenu  {% active_link 'studentlist' 'active' %}  {% active_link 'addstudent' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'studentlist' %}">Student List</a></li>
                   <li><a href="{% url 'addstudent' %}">Student Add</a></li>

                </ul>
             </li>
             <li class="submenu {% active_link 'teacherlist' 'active' %}  {% active_link 'addteacher' 'active' %}">
                <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'teacherlist' %}">Teacher List</a></li>
                   <li><a href="{% url 'addteacher' %}">Teacher Add</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'departmentlist' 'active' %}  {% active_link 'adddepartment' 'active' %}">
                <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'departmentlist' %}">Department List</a></li>
                   <li><a href="{% url 'adddepartment' %}">Department Add</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'subjectlist' 'active' %}  {% active_link 'addsubject' 'active' %}">
                <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'subjectlist' %}">Subject List</a></li>
                   <li><a href="{% url 'addsubject' %}">Subject Add</a></li>
                </ul>
             </li>
             <li><a href="#"><i class="fas fa-user-graduate"></i>Section</a><li>
               <li><a href="#"><i class="fas fa-user-graduate"></i>View Students</a><li>
            
          </ul>
       </div>
    </div>
 </div>
