{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form  action="{% url 'updatedepartment' %}"  method="post" enctype="multipart/form-data">
               {% csrf_token %}
                <div class="row">
                   <div class="col-12">
                      <h5 class="form-title"><span>Edit Department</span></h5>
                   </div>

                   <div class="col-12 col-sm-8">
                      <div class="form-group">
                         <label><b>Department Name</b></label>
                         <input value="{{course.name}}" name="department_name" type="text" class="form-control">
                         <input value="{{course.id}}" name="department_id" type="text" class="form-control" hidden>
                      </div>
                   </div>
                 
                
                   
                   <div class="col-12">
                    <input class="btn btn-primary  mt-2 mb-2" type="submit" value="Update">
                   </div>
                   <div class="col-12">
                  </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
    
{% endblock  %}
    
